<div class="container">
    <header>
        <a class="button-back" href="/memos"><<</a>
        <div class="name">
            Your Memo
        </div>
    </header>
    <div class="main">
        <form action="" method="POST" id="memo">
            <div class="title title__text">
                <%= @title%>
            </div>
            <hr />
            <div class="text">
                <%= @text%>
            </div>
            <input type="hidden" name="_method" value="delete" />
        </form>
    </div>
    <footer>
        <div class="command">
            <a class="button-primary" href="./<%= @id %>/edit">Edit</a>
            <button class="button-primary" type="submit" form="memo">Delete</button>
        </div>
    </footer>
</div>
