    <div class="container">
        <header>
            <a id="backButton" class="button-back" href="/list"><<</a>
            <div class="name">
                Your Memo
            </div>
        </header>
        <div class="main">
            <div class="title title__text">
                <%= @title%>
            </div>
            <hr />
            <div class="text">
                <%= @text%>
            </div>
        </div>
        <footer>
            <div class="command">
                <a id="editButton" class="button-primary" href="../edit/<%= @id %>">Edit</a>
                <a id="deleteButton"  class="button-primary" href="#" onclick="deleteButton_Click(<%= @id %>)">Delete</a>
            </div>
        </footer>
    </div>
