<div class="container">
    <header>
        <a id="backButton" class="button-back" href="/memo/<%= @id %>"><<</a>
        <div class="name">
            Your Memo
        </div>
    </header>
    <div class="main">
        <div  class="title">
            <input id="memo_title" name="memo_title" type="text"
                class="title__text" placeholder="タイトル"
                value="<%= @title %>"/>
        </div>
        <hr />
        <div >
            <textarea id="memo_text" name="memo_text"  class="text" rows=8
                placeholder="メモ"><%= @text %></textarea>
        </div>
    </div>
    <footer>
        <div class="command">
            <a id="regButton" class="button-primary" onclick="Button_Click(<%= @id %>)">OK</a>
        </div>
    </footer>
</div>