<div class="container">
    <header>
        <a id="backButton" class="button-back" href="/new">+</a>
        <div class="name">
            Your Memo
        </div>
    </header>
    <div class="main__list">
        <ul>
        <% @memo_list.each do |x| %>
            <li>
                <a href='/memo/<%= x['id']%>'> <%= x['memo_title'] %> </a>
            </li>
        <% end %>
        </ul>
    </div>
</div>
