<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>メモアプリ</h1>
    <form method="POST">
        <div>
            <label for="title">タイトル</label>
            <input name="title" type="text" />
        </div>
        <div>
            <label for="text">内容</label>
            <textarea name="text"></textarea>
        </div>
        <button>登録</button>
    </form>
</body>
</html>
