<div class="container">
    <header>
        <a class="button-back" href="./list"><<</a>
        <div class="name">
            Your Memo
        </div>
    </header>
    <div class="main">
        <form action="" method="POST" id="memo">
            <div class="title">
                <input name="memo_title" type="text"
                class="title__text" placeholder="タイトル" required="required"/>
            </div>
            <hr />
            <div>
                <textarea name="memo_text" rows=8
                class="text" placeholder="メモ" required="required"></textarea>
            </div>
        </form>
    </div>
    <footer>
        <div class="command">
            <button class="button-primary" type="submit" form="memo">Add</button>
        </div>
    <footer>
</div>
