<div class="container">
    <header>
        <a class="button-back" href="/memos"><<</a>
        <div class="name">
            Your Memo
        </div>
    </header>
    <div class="main">
        <div class="title title__text">
            指定されたURLは存在しません
        </div>
        <hr />
        <div class="text">
            上のボタンから一覧に戻ることができます
        </div>
    </div>
</div>